{% comment %} {% extends 'shared/base.html' %} {% endcomment %}
{% load static %}


{% block content %}
  {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'curbalertapp:register' %}" method="post">
      {% csrf_token %} 
      <fieldset>
          <label for="username">Username: </label>
          <input id="username" type="text" name="username">
      </fieldset>
      <fieldset>
          <label for="password">Password: </label>
          <input id="password" type="password" name="password">
      </fieldset>
            <fieldset>
          <label for="password_confirmation">Password Confirmation: </label>
          <input id="password_confirmation" type="password" name="password_confirmation">
      </fieldset>
    <fieldset>
          <label for="email">Email: </label>
          <input id="email" type="email" name="email">
      </fieldset>
      <fieldset>
          <label for="address">Address: </label>
          <input id="address" type="address" name="address">
      </fieldset>
      <fieldset>
          <label for="can_haul_away">Are you available to haul away donations? </label>
          <select id="can_haul_away" name="can_haul_away">
          <option value=true>Yes</option>
          <option value=false>No</option>
          </select>
      </fieldset>
      <fieldset>
          <label for="haul_distance">How far are you willing to travel to haul away donations? </label>
          <select id="haul_distance" name="haul_distance">
          <option value="one">1 miles</option>
          <option value="five">5 miles</option>
          <option value="five">10 miles</option>
          <option value="five">20+ miles</option>
          </select>
      </fieldset>
        <fieldset>
      <input type="submit" value="Submit" />
      </fieldset>
    </form>
{% endblock %} 