{% load static %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html>

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="utf-8">
    <title>Curb Alert 🚨</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>


    {% block css %}
    {% endblock %}
</head>

<body>
    
    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'curbalertapp:home' %}">Home</a></li>
            <li class="navList__route"><a href="{% url 'curbalertapp:logout' %}">Logout</a></li>
        </ol>
    </nav>

    <main class="main-content">
     <div id="curbalertmapid"></div>
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock scripts %}
{% leaflet_map "curbalertmap" %}
</body>

</html>

