{% load static %}
{% load leaflet_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Curb Alert 🚨</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />

    {% block css %}
{% leaflet_css %}
    {% endblock %}
</head>

<body>

    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'curbalertapp:home' %}">Home</a></li>
            <li class="navList__route"><a href="{% url 'curbalertapp:logout' %}">Logout</a></li>
        </ol>
    </nav>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
{% leaflet_js %}
    {% endblock scripts %}
</body>

</html>

