{% extends 'shared/base.html' %}

{% block content %}
    <section id="donation-details">
        <h1>Donation</h1>
        <h2>Alerter: {{ donation.alerter.user }}</h2>
        <div>
        Size of Donation: {{donation.size}}
        </div>
        <div>
        Category: 
        <ul>
        {% for category in donation.categories.all %}
            <li>{{category.title}}</li>
        {% endfor %}
        </ul>
        <div>
        Description: {{donation.description}}
        </div>
        <div>
        Expires on: {{donation.expires_on}}
        </div>
        {% if user_can_haul_away %}
            <div>
                <form action="{% url 'curbalertapp:donation' donation.id %}" method="POST">
                    {{form}}
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="PUT">
               <button type="button" class="btn btn-outline-secondary">Save Change</button>


                </form>
            </div>
        {% endif %}
        <div>
            Does this donation need to be picked up? {% if donation.needs_haul_away %}Yes
            {% else %} No
            {% endif %}
        </div>
        <div>
            Has this donation been picked up? {% if donation.picked_up %}Yes
            {% else %} No
            {% endif %}
        </div>
    </section>
{% if enable_edit%}
    <form action="{% url 'curbalertapp:donation' donation.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
<button type="button" class="btn btn-outline-secondary">Delete</button>
    </form>
    <form action="{% url 'curbalertapp:donation_edit_form' donation.id %}" method="GET">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="POST">
       <button type="button" class="btn btn-outline-secondary">Edit</button>
    </form>
{% endif %}
{% endblock %}