{% extends 'shared/base.html' %}

{% block content %}
    <form action="{% url 'curbalertapp:donation_form'%}" method="GET">
{% csrf_token %}
<button type="submit" class="btn btn-outline-secondary">Create a new Curb Alert</button>
</form>
    {% if not active_curb_alerts %}
    <div>
    You don't have any Curb Alerts yet.
    </div>
    {% endif %}
        {% for donation in active_curb_alerts%}
            {% if not donation.picked_up %}
                <h3>My Active Curb Alerts</h3>
                <ul>
                    <li>
                        {{donation.description}}
                    </li>
                    <form action="{% url 'curbalertapp:donation' donation.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="actual_method" value="DELETE">
                        <button type="submit" class="btn btn-outline-secondary">Delete</button>

                    </form>
                    <form action="{% url 'curbalertapp:donation_edit_form' donation.id %}" method="GET">
                        {% csrf_token %}
                    <button type="button" class="btn btn-outline-secondary">Edit</button> 
                   </form>
                </ul> 
            {% else %}
            <h3>Curb Alerts that have been picked up</h3>
            <ul>
                <li>
                    {{donation.description}}
                </li>
                <form action="{% url 'curbalertapp:donation' donation.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="DELETE">
                <button type="button" class="btn btn-outline-secondary">Delete</button>
                </form>
                <form action="{% url 'curbalertapp:donation_edit_form' donation.id %}" method="GET">
                    {% csrf_token %}
                    <button type="button" class="btn btn-outline-secondary">Edit</button>
                </form>
            </ul>    
            {% endif %}
        {% endfor %}


    </h3>My Expired Curb Alerts</h3>
    <ul>
        {% for donation in expired_curb_alerts%}
            <li>
                {{donation.description}}
            </li>
    
            <form action="{% url 'curbalertapp:donation' donation.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="actual_method" value="DELETE">
                <button type="button" class="btn btn-outline-secondary">Delete</button>            
            </form>
            <form action="{% url 'curbalertapp:donation_edit_form' donation.id %}" method="GET">
                {% csrf_token %}
                <button type="button" class="btn btn-outline-secondary">Edit</button>            
    </form>
        {% endfor %}
    </ul>
{% endblock %}
